/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    overflow-x: hidden;
  }
  
  h1, h2, h3 {
    color: #212121;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .main {
    position: relative;
    transition: .4s;
  }

  .section {
    padding: 4.5rem 0 1rem;
  }

  .container-section {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .jumbotron {
    margin-bottom: -2.50rem;
  }

/*=============== BENEFITS CLASSES ===============*/

  .container-tips-first {
    padding-top: 1.50rem;
  }

  .container-tips-second {
    margin-bottom: -5.50rem;
  }

  .benefits-icon {
    text-align: center;
  }

  .benefits-p {
    text-align: center;
  }

  .benefits-tips ion-icon {
    font-size: 4.25rem;
  }

/*=============== SERVICES CLASSES ===============*/

  .container-services-first {
    padding-top: 1.50rem;
  }

  .container-services-second {
    padding-top: 1.50rem;
  }

  .container-services-third {
    padding-top: 1.50rem;
    margin-bottom: -5.50rem;
  }

  .services-icon {
    text-align: center;
  }

  .services-p {
    text-align: center;
  }

  .services-tips ion-icon {
    font-size: 4.25rem;
  }

  .services-tips-img {
    padding-bottom: 1.50rem;
  }

  .services-img {
    width: 240px;
    height: 220px;
    border-radius: 1.50rem;
  }

  .line {
    width: 100%;
    height: 2px;
    border-radius: 20rem;
    background: #212121;
  }
  
/*=============== BREAKPOINTS ===============*/

  @media (min-width: 576px) and (max-width: 768px) { 
    .container-tips-first {
      padding-top: 1.15rem;
    }
    .container-tips-second {
      margin-bottom: -5.15rem;
      padding-top: 1.15rem;
    }
    .container-services-first {
      padding-top: 1.15rem;
    }
    .container-services-second {
      padding-top: 1.15rem;
    }
    .container-services-third {
      margin-bottom: -5.15rem;
      padding-top: 1.15rem;
    }
    .services-img {
      width: 240px;
      height: 160px;
    }
  }